
module zabbix_agent 1.0;

require {
	type unconfined_t;
	type user_tmp_t;
	type kernel_t;
	type usr_t;
	type chkpwd_exec_t;
	type systemd_logind_t;
	type rpm_exec_t;
	type rpm_var_lib_t;
	type system_dbusd_t;
	type var_log_t;
	type cgroup_t;
	type devlog_t;
	type shadow_t;
	type systemd_logind_sessions_t;
	type rpm_script_tmp_t;
	type sudo_exec_t;
	type zabbix_agent_t;
	class file { create execute execute_no_trans lock open read unlink write };
	class process execmem;
	class unix_stream_socket connectto;
	class dbus send_msg;
	class capability { audit_write dac_override net_admin sys_resource };
	class fifo_file write;
	class netlink_audit_socket { create nlmsg_relay read write };
	class sock_file write;
	class unix_dgram_socket { connect create sendto write };
	class dir { add_name remove_name write };
}

#============= systemd_logind_t ==============

#!!!! This avc can be allowed using the boolean 'zabbix_run_sudo'
allow systemd_logind_t zabbix_agent_t:dbus send_msg;

#============= zabbix_agent_t ==============
allow zabbix_agent_t cgroup_t:file { open read };

#!!!! This avc can be allowed using the boolean 'zabbix_run_sudo'
allow zabbix_agent_t chkpwd_exec_t:file execute;
allow zabbix_agent_t chkpwd_exec_t:file execute_no_trans;
allow zabbix_agent_t devlog_t:sock_file write;

#!!!! The file '/dev/log' is mislabeled on your system.  
#!!!! Fix with $ restorecon -R -v /dev/log
allow zabbix_agent_t kernel_t:unix_dgram_socket sendto;
allow zabbix_agent_t rpm_exec_t:file { execute execute_no_trans };
allow zabbix_agent_t rpm_script_tmp_t:dir { add_name remove_name write };
allow zabbix_agent_t rpm_script_tmp_t:file { create unlink write };
allow zabbix_agent_t rpm_var_lib_t:file { lock open read };

#!!!! This avc can be allowed using the boolean 'zabbix_run_sudo'
allow zabbix_agent_t self:capability sys_resource;
allow zabbix_agent_t self:capability { audit_write dac_override net_admin };
allow zabbix_agent_t self:netlink_audit_socket { create nlmsg_relay read write };
allow zabbix_agent_t self:process execmem;
allow zabbix_agent_t self:unix_dgram_socket { connect create write };
allow zabbix_agent_t shadow_t:file { open read };

#!!!! This avc can be allowed using the boolean 'zabbix_run_sudo'
allow zabbix_agent_t sudo_exec_t:file { execute execute_no_trans };
allow zabbix_agent_t system_dbusd_t:dbus send_msg;

#!!!! The file '/run/dbus/system_bus_socket' is mislabeled on your system.  
#!!!! Fix with $ restorecon -R -v /run/dbus/system_bus_socket
allow zabbix_agent_t system_dbusd_t:unix_stream_socket connectto;

#!!!! This avc can be allowed using the boolean 'zabbix_run_sudo'
allow zabbix_agent_t systemd_logind_sessions_t:fifo_file write;

#!!!! This avc can be allowed using the boolean 'zabbix_run_sudo'
allow zabbix_agent_t systemd_logind_t:dbus send_msg;

#!!!! The file '/opt/zimbra/data/postfix/spool/public/showq' is mislabeled on your system.  
#!!!! Fix with $ restorecon -R -v /opt/zimbra/data/postfix/spool/public/showq
allow zabbix_agent_t unconfined_t:unix_stream_socket connectto;
allow zabbix_agent_t user_tmp_t:file write;

#!!!! WARNING: 'usr_t' is a base type.
allow zabbix_agent_t usr_t:sock_file write;
allow zabbix_agent_t var_log_t:file { open read };
